* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-blue: #52c3c0;
  --heading-font: 'Playfair Display', sans-serif;
  --text-font: 'Roboto', sans-serif;
  --button-font: 'Hammersmith One', sans-serif;
}

body {
  font-family: var(--text-font);
}

.main-wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

header {
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: center;
}
.header-container {
  display: flex;
  width: 60%;
  justify-content: center;
  align-items: center;
}
logo {
  display: flex;
  width: 30%;
  align-items: center;
}
logo h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-transform: lowercase;
  color: #2fa6bc;
  margin-left: 1rem;
}
nav {
  width: 70%;
}
.nav-bar {
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: space-between;
}
.nav-bar li {
  list-style: none;
  margin-left: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  transition: color 0.2s;
  cursor: pointer;
  font-size: 13px;
}
.nav-bar li:hover {
  color: #2fa6bc;
}

.section {
  width: 100%;
}

/*Dimensions, BG, Color*/
.section1 {
  height: 100vh;
  background-image: url('./bgk-header.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  display: flex;
  align-items: center;
}

/*further positioning*/
.a-section-inner {
  width: 60%;
  margin: 0 auto;
}

/*Section-Content organization*/
.header-section {
  text-align: center;
}

.header-section h1 {
  font-family: var(--heading-font);
  font-size: 2rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.separator2 {
  height: 2px;
  width: 60px;
  border-radius: 3px;
  margin: 0 auto;
  background-color: var(--light-blue);
}

.header-section p {
  margin-top: 1rem;
}

.a-button {
  display: inline-block;
  margin-top: 28px;
  padding: 15px;
  border: 2px solid var(--light-blue);
  border-radius: 3px;
  font-family: var(--button-font);
  color: var(--light-blue);
  text-transform: uppercase;
  text-decoration: none;
}

/*Section 2*/
.section2 {
  height: 500px;
  display: flex;
  align-items: center;
}

.ourstory-section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.logo-container {
  grid-column: 2/4;
}

.text-container {
  grid-column: 6/13;
}

.text-container h2 {
  font-family: var(--heading-font);
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.text-container p:last-child {
  margin-bottom: 1rem;
}

/*Footer*/
footer {
  height: 390px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./bgk-footer.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}

.footer-grid-container {
  width: 60%;
  height: 80%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(12, 1fr);
}

.tajam {
  grid-column: 1/5;
}

.tajam-head {
  display: flex;
  align-items: center;
  height: 80px;
}

.tajam-head h4 {
  margin-left: 1rem;
}

.footer-nav {
  margin-top: 4rem;
}

.footer-nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.footer-nav a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.our-studio {
  grid-column: 5/9;
}

.our-studio-head {
  display: flex;
  align-items: center;
  height: 80px;
  text-transform: uppercase;
}

.our-studio-content {
  display: flex;
}

.our-studio-content p {
  width: 75%;
  margin-bottom: 1rem;
}

.sizeable {
  width: 50px;
}

.in-touch {
  grid-column: 9/13;
}

.in-touch-head {
  display: flex;
  align-items: center;
  height: 80px;
  text-transform: uppercase;
}

.in-touch-form {
  display: flex;
  height: 40px;
}

#email {
  color: gray;
  border: 1px solid #fff;
  border-radius: 1px;
  text-align: center;
}

.pplane-container {
  background-color: rgba(255, 255, 255, 0.548);
  margin-left: 1rem;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media-icons {
  margin: 2rem 0 2rem 0;
}

.in-touch p {
  text-transform: capitalize;
  font-weight: bold;
  text-align: end;
}
.section.section6 {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 2rem 0;
}
.section6-container {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container {
  display: flex;
  width: 80%;
  height: 510px;
}
.form-container h2 {
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  font-size: 22px;
}
.form-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}

.form-container form input,
textarea {
  margin-top: 1rem;
  padding: 0.7rem;
  font-family: 'Roboto', sans-serif;
  border: 1px solid rgb(190, 189, 189);
}
.form-container .submit-button {
  border: none;
  border: 1px solid #33e6d9;
  margin-top: 1rem;
  width: 30%;
  padding: 1rem 0.5rem;
  text-transform: uppercase;
  font-family: 'Hammersmith One', sans-serif;
  background-color: white;
  color: #11e2d3;
  cursor: pointer;
}
.form-container .submit-button:hover {
  background-color: #11e2d3;
  color: white;
}
.clients-container {
  width: 50%;
  height: 510px;
}
.clients-container h2 {
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  font-size: 22px;
}
.clients-container .clients-logos-grid {
  display: grid;
  gap: 0 6rem;
  width: 100%;
  height: 100%;
  grid-template: repeat(5, 1fr) / repeat(2, 1fr);
  height: 80%;
}
.clients-container .clients-logos-grid .client-logo {
  width: 100%;
  margin-top: 1rem;
  align-self: center;
}

.watchcontainer {
  background-image: url('./bgk-middle.png');
  width: 100%;
  height: 550px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}
.logolink {
  display: flex;
  justify-content: space-around;
  padding-top: 5px;
  margin-bottom: 20px;
}

.linktext {
  font-family: 'Roboto', sans-serif;
  color: white;
}
