* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-wrapper {
  max-width: 1920px;
  margin: 0 auto;
}
.section {
  width: 100%;
  height: 500px;
}
.section:nth-child(even) {
  background-color: purple;
}
