* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.main-wrapper {
   max-width: 1920px;
   margin: 0 auto;
   background-color: green;
}
.section {
   height: 500px;
   background-color: #000000;
}
